<div class="row border-bottom">
    <div class="col-4 p-5">
        <div class="box-book-shadow">
            <img class="book-img" src="{{book.volumeInfo.imageLinks.thumbnail}}">
        </div>
    </div>
    <div class="col-8 text-align-right">
        <p *ngIf="book.volumeInfo.title.length <= 30" title="{{book.volumeInfo.title}}">{{book.volumeInfo.title.substring(0, 30)}}</p>
        <p *ngIf="book.volumeInfo.title.length > 30" title="{{book.volumeInfo.title}}">{{book.volumeInfo.title.substring(0, 30)}}...</p>
        <fa-icon *ngFor="let star of [].constructor(book.volumeInfo.ratingsCount)" [icon]="faStar"></fa-icon>
        <p>{{book.volumeInfo.authors.toString().substring(0, 12)}}</p>
        <p *ngIf="book.volumeInfo.publisher">{{book.volumeInfo.publisher.substring(0,10)}}</p>
        <div class="row">
            <div class="col-10">
                <button type="button" class="btn btn-add-wishlist" (click)="addToWishList()"><fa-icon [icon]="faPlus"></fa-icon>Wishlist</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-success" (click)="moreInfo()"><fa-icon [icon]="faInfo"></fa-icon></button>
            </div>
        </div>
    </div>
</div>

