.box-book-shadow
    border-radius: 0 14px 14px 0
    box-shadow: -5pt -5pt 0.5pt
    color: #cebfbf
    height: fit-content
    transition: scale 0.5s
    width: fit-content
    &:hover
        border-radius: 0 14px 14px 0
        scale: 1.1
        transition: scale 0.5s


.book-img
    border-radius: 0 14px 14px 0
    height: 250px
    width: 136px


.btn-add-wishlist
    background: white
    border: 2px solid #8A8D93
    color: #8A8D93
    &:hover
        color: white
        background: #8A8D93
