.boxBookShadow
    width: fit-content
    height: fit-content
    box-shadow: -5pt -5pt 0.5pt
    color: #cebfbf
    border-radius: 0 14px 14px 0
    transition: scale 1s
    &:hover
        transition: scale 1s
        border-radius: 0 14px 14px 0
        scale: 1.1


.bookImg
    width: 136px
    height: 250px
    border-radius: 0 14px 14px 0

.textAlignRight
    text-align-last: right
