<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center my-4 border-bottom p-0">
      <p class="firstHalfTitle m-0 wishBooksColor1">Wish</p><p class="secondHalfTitle m-0 wishBooksColor1">Books</p>
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      </a>
      <ul class="nav col-md-4 justify-content-end">
        <li class="align-self-center"><fa-icon class="wishBooksColor1" [icon]="faSearch"></fa-icon><input class="nav-item b-0" placeholder="Search..."></li>
        <li class="nav-item align-self-center"><a href="#" class="nav-link px-2 text-muted">My Wishlist</a></li>
      </ul>
    </footer>
</div>