<div class="container">
    <footer class="align-items-center border-bottom d-flex flex-wrap justify-content-between my-4 p-0">
      <p class="first-half-title m-0 wishBooks-color1">Wish</p><p class="m-0 second-half-title wishBooks-color1">Books</p>
      <a href="/" class="align-items-center col-md-4 d-flex justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      </a>
      <ul class="col-md-4 justify-content-end nav">
        <li class="align-self-center"><fa-icon class="wishBooks-color1" [icon]="faSearch"></fa-icon><input class="nav-item b-0" placeholder="Search..."></li>
        <li class="nav-item align-self-center"><a href="#" class="nav-link px-2 text-muted">My Wishlist</a></li>
      </ul>
    </footer>
</div>