.add-wl
  bottom: 0
  position: sticky

.back-button-box
  height: 5vh !important
  height: fit-content
  position: sticky
  text-align: center
  top: 0
  width: auto !important
  &:hover
    .wishbooks-color-text
      color: white
    
.book-img-detail
  height: 20vw
  width: 10vw

.btn-back
    background: white
    border: 2px solid #8A8D93
    color: #8A8D93 !important
    &:hover
        background: #8A8D93
        color: white !important

.right
  align-self: flex-end

.title-detail
  color: white

.vw-50
  background-color: black
  height: fit-content
  padding: 0.5em
  width: 50vw

.white-text
  color: white

.width-side-detail
  float: left
  height: 95vh
  justify-content: center
  max-width: 50vw
  overflow-x: hidden
  overflow-y: auto
  padding: 0
  text-align: center

.wishbooks-color-text
  color: #8A8D93
  &:hover
    color: white !important


