<div class="container width-side-detail" >
    <div class="back-button-box text-align-center">
        <button (click)="back()" class="btn btn-back h-100 p-0 w-100 "  type="button" >
            <p class="m-0"><fa-icon class="w-100" [icon]="faWindowMinimize"></fa-icon>Minimize</p>
        </button>
    </div>
    <h1 class="title-detail vw-50">{{book.volumeInfo.title}}</h1><fa-icon *ngFor="let i of counter(book.volumeInfo.averageRating)" [icon]="faStar"></fa-icon>
    <div class="row">
        <div class="col-4">
            <img class="book-img-detail" src="{{book.volumeInfo.imageLinks.thumbnail}}">
        </div>
        <div class="col-8">
            <p class="p-5 white-text">{{book.volumeInfo.description}}</p>
            <p class="white-text">Author(s): {{book.volumeInfo.authors.toString()}}</p>
            <p class="white-text">Pages Count: {{book.volumeInfo.pageCount}}</p>
            <p class="white-text">Rating: {{book.volumeInfo.averageRating}} Star(s)</p>
            <p class="white-text">Publisher: {{book.volumeInfo.publisher}}</p>
        </div>
    </div>
    <div class="add-wl pt-1 row">
        <div *ngIf="!router.routerState.snapshot.url.includes('myWishlist')" class="col-12">
          <button  (click)="addToWishList()" class="btn btn-back h-100 p-0 w-100" type="button">
            <p class="m-0 p-2"><fa-icon class="w-100" [icon]="faPlus"></fa-icon>Add to my Wishlist</p>
          </button>
        </div>
        <div class="col-12">
          <button (click)="openWindow()" class="btn btn-back h-100 p-0 w-100" type="button">
              <p class="m-0 p-2"><fa-icon class="w-100" [icon]="faGoogle"></fa-icon>oogle - Buy it Now!</p>
          </button>
        </div>
    </div>
</div>

