<div class="container width-side-detail" >
    <div class="text-align-center back-button-box">
        <button type="button"  (click)="back()" class="btn btn-back p-0 w-100 h-100">
            <fa-icon class="wishbooks-color-text w-100" [icon]="faWindowMinimize"></fa-icon><p class="pb-1">Minimize</p>
        </button>
    </div>
    <h1 class="vw-50 title-detail">{{book.volumeInfo.title}}</h1><fa-icon *ngFor="let i of counter(book.volumeInfo.averageRating)" [icon]="faStar"></fa-icon>
    <div class="row">
        <div class="col-4">
            <img class="book-img-detail" src="{{book.volumeInfo.imageLinks.thumbnail}}">
        </div>
        <div class="col-8">
            <p class="white-text p-5">{{book.volumeInfo.description}}</p>
            <p class="white-text">Author(s): {{book.volumeInfo.authors.toString()}}</p>
            <p class="white-text">Pages Count: {{book.volumeInfo.pageCount}}</p>
            <p class="white-text">Rating: {{book.volumeInfo.averageRating}} Star(s)</p>
            <p class="white-text">Publisher: {{book.volumeInfo.publisher}}</p>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-12">
            <button type="button"  (click)="openWindow()" class="btn btn-back p-0 w-100 h-100">
                <p class="p-2 m-0"><fa-icon class="w-100" [icon]="faGoogle"></fa-icon>oogle - Buy it Now!</p>
            </button>
        </div>
        <div class="col-12">
            <button type="button"  (click)="openWindow()" class="btn btn-back p-0 w-100 h-100">
                <p class="p-2 m-0"><fa-icon class="w-100" [icon]="faPlus"></fa-icon>Add to my Wishlist</p>
            </button>
        </div>
    </div>
</div>

