*
    font-family: 'Josefin Sans'
    
.center-div
    left: 50%
    margin: 0
    position: absolute
    text-align: center
    top: 50%
    transform: translate(-50%, -50%)

.center-icon
    color: white
    font-size: 27pt
    justify-content: center

.img-landing-p
    background: url('../../../assets/headerImageLandingP.jpeg')
    background-attachment: fixed
    background-position: center
    background-size: cover
    display: list-item
    height: 400px
    position: relative
    p
        color: white
        font-family: 'Josefin Sans'
        font-size: 20pt
